.banner{
    background-image: url(../../fondo1.jpg);
    height: 350px;
    background-image: url(../../fondo1.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center;
    animation: cambio 10s infinite;
    margin: 0;
    margin-top: -1.4rem;
}
@media only screen and (max-width:1090px){

    .banner{
        height: 200px;
        background-image: url(../../fondo2.jpg);
        background-repeat: no-repeat;
        background-size:100%;
        background-position:center;
        animation: cambio 10s infinite;
        margin-top: -1.9rem;
    } 
}
@keyframes cambio{
    0%{
        background-image: url("../../fondo1.jpg");
    }
    50%{
        background-image: url("../../fondo2.jpg");
    }
    100%{
        background-image: url("../../fondo1.jpg");
    }
}
